<% layout("/layouts/boilerplate")%>

<body>
    <style>
      #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      .filter{
        text-align:center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
      }
      .filter:hover{
        opacity: 1;
        cursor: pointer;  
     }
     .filter p{
      font-size: 0.4rem;
     }
     .tax-info{
      display: none;
     }
     .tax-toggle{
       border: 0.1rem solid black;
       border-radius: 1rem ;
       height: 3rem;
       padding: 1rem;
       margin-left: 2rem;
       display: flex;
       align-items: center;
       margin-top: 1rem;
     }
     .filter a {
      text-decoration: none;
      color: black;
     }
     
    </style>
    <div id="filters">
      <div class="filter">
          <a href="/listings/category/Trending"><div><i class="fa-solid fa-fire"></i></div>
          <p>Trending</p></a>
      </div>
      <div class="filter">
        <a href="/listings/category/Room"><div><i class="fa-solid fa-bed"></i></div>
          <p>Room</p></a>
                                    
      </div>
      <div class="filter">
        <a href="/listings/category/Iconic%20cities"><div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic cities</p></a>
          
      </div>
      <div class="filter">
        <a href="/listings/category/Mountains"><div><i class="fa-solid fa-mountain"></i></div>
          <p>Mountains</p></a>
          
      </div>
      <div class="filter">
        <a href="/listings/category/Mountains"><div><i class="fa-solid fa-leaf"></i></div>
          <p>Natures</p></a>
          
      </div>
      <div class="filter">
        <a href="/listings/category/Castles"> <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>Castles</p></a>
         
      </div>
      <div class="filter">
        <a href="/listings/category/Amazing%20Pools"><div><i class="fa-solid fa-person-swimming"></i></div>
          <p>Amazing Pools</p></a>
          
      </div>
      <div class="filter">
        <a href="/listings/category/Camping"><div><i class="fa-solid fa-campground"></i></div>
          <p>Camping</p></a>
          
      </div>
      <div class="filter">
        <a href="/listings/category/Farms"><div><i class="fa-solid fa-cow"></i></div>
          <p>Farms</p></a>
          
      </div>
      <div class="filter">
        <a href="/listings/category/Arctic"><div><i class="fa-regular fa-snowflake"></i></div>
          <p>Arctic</p></a>
          
      </div>
       <div class="filter">
        <a href="/listings/category/Domes"><div><i class="fa-solid fa-igloo"></i></div>
          <p>Domes</p></a>
          
      </div>
       <div class="filter">
        <a href="/listings/category/Boats"><div><i class="fa-solid fa-sailboat"></i></div>
          <p>Boats</p></a>
          
      </div>

      <div class="tax-toggle">
          <div class="form-check-reverse form-switch ">
          <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
          <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
</div>
      </div>
    </div>
<div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 mt-3">
  <%   for(let listing of allListings){%>
    <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
    <img
        src="<%= listing.image.url %>" 
        class="card-img-top"
        alt="listing_image" 
        style="height: 20rem;"
    />
    <div class="card-img-overlay">abcd</div>
    <div class="card-body">
      <p class="card-text">
        <b><%=listing.title %></b><br>
        &#8377; <%= listing.price?.toLocaleString("en-IN") || "N/A" %>/night
        <i class="tax-info">&nbsp; &nbsp; +GST 18%</i>
      </p>
    </div>
 </div>
 </a>
 <% } %>
 </div>
</body>


<script>
  let taxswitch = document.getElementById("switchCheckDefault");
  taxswitch.addEventListener("click", () =>{
   let taxInfo = document.getElementsByClassName("tax-info");
   for(info of taxInfo){
      if(info.style.display != "inline"){
        info.style.display = "inline";
      }else{
        info.style.display = "none";
      }
   }
  });
</script>