
body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
#filters {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    padding: 0.5rem 0;
    gap: 0.8rem;
}
#filters::-webkit-scrollbar {
    width: 0; /* Hide scrollbar for WebKit */
    height: 0;
}
#filters {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}
#filters .filter {
    flex: 0 0 auto;
    margin-top: 0.75rem;
    text-align: center;
    opacity: 0.7;
}
#filters .filter:hover {
    opacity: 1;
    cursor: pointer;
}
@media (min-width: 900px) {
    #filters { flex-wrap: wrap; overflow-x: visible; }
}

.navbar{
    height: 4.5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links  a:hover {
    text-decoration:underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
   font-size: 1.2rem;
   margin-right: 2rem;
}


.f-info{
    text-align: center;
    height: 6rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    margin-top: auto;
}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    /* margin-left: 3rem; */
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}
.card-text p {
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none ;
}

/* card-effect */

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* New page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit page  */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show page */
.show-img{
    height: 50vh;
}

.btns{
    display: flex;
    margin-bottom: 2rem;
}

.show-card{
    padding-left:0 ;
    padding-right: 0;
}

/* maps */

#map{
    height: 400px;
    width: 100vh;
}